.article {
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 350px;
}

.picsList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.picsList img {
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 2px 3px 29px 1px rgba(0,0,0,0.71);
-webkit-box-shadow: 2px 3px 29px 1px rgba(0,0,0,0.71);
-moz-box-shadow: 2px 3px 29px 1px rgba(0,0,0,0.71);
}
